<!DOCTYPE html>
<html>
<head>
  <title>My first Vue app</title>
  <script src="https://unpkg.com/vue"></script>
  <script src="https://www.gstatic.com/firebasejs/4.3.0/firebase.js"></script>
  <script src="https://unpkg.com/vuefire/dist/vuefire.js"></script>
</head>
<body>
  <div id="app">
    <form id="form" v-on:submit.prevent="createUser">
      <input type="text" v-model="user.email" placeholder="email">
      <input type="password" v-model="user.password" placeholder="pass">
      <input type="text" v-model="user.name" placeholder="name">
      <input type="submit" value="add user">
    </form>
    <button v-on:click="verify">verify</button>
    <div>
      {{ email }} {{ uid }}
    </div>
    <form id="form" v-on:submit.prevent="registerEmail">
      <input type="text" v-model="user.email" placeholder="email">
      <input type="submit" value="register">
    </form>
      {{ message }}
    <form id="form" v-on:submit.prevent="confirm">
      <input type="text" v-model="code" placeholder="code">
      <input type="submit" value="register">
    </form>
  </div>

  <script>
    // setup Firebase
    var config = {
      apiKey: "AIzaSyCJ5-wGuwje-5LqhpMNgs3SUbyil3V3WMI",
      authDomain: "icf-09-registration.firebaseapp.com",
      databaseURL: "https://icf-09-registration.firebaseio.com",
      projectId: "icf-09-registration",
      storageBucket: "icf-09-registration.appspot.com",
      messagingSenderId: "385260940809"
    };
    firebase.initializeApp(config);

    var usersRef = firebase.database().ref('test');

    var app = new Vue({
      el: '#app',
      data: {
        newUser: {
          name: '',
          email: '',
        },
        user: {
          email: '',
          password: '',
          name: '',
        },
        email: 'none',
        uid: 'none',
        User: {},
        isLoggedIn: null,
        message: '',
        code: '',
        password: '',
      },

      firebase: {
        users: usersRef
      },

      created() {
        this.User = firebase.auth().currentUser;
        if(this.User) {
          this.email = this.User.email;
          this.uid = this.User.uid;
        }
        let self = this;
        firebase.auth().onAuthStateChanged(function(user) {
          self.isLoggedIn = (user !== null);
          if(user) {
            self.email = user.email;
            self.uid = user.uid;
          }
        });
      },

      methods: {
        registerEmail: function() {
          let self = this;
          firebase.auth().createUserWithEmailAndPassword(self.user.email, self.generatePass())
            .then(function() {
              console.log(self.user.email, self.generatePass());
              firebase.auth().sendPasswordResetEmail(self.user.email).then(function() {
                console.log('finished');
                self.message = 'check email';
              })
            });
        },
        confirm: function() {
          let self = this;
          console.log(self.code);
          firebase.auth().verifyPasswordResetCode(self.code)
            .then(function(email) {
              console.log(email);
              self.password = self.generatePass();
              firebase.auth().confirmPasswordReset(code, self.password)
                .then(function() {

                });
            });
        },
        generatePass: function() {
          let chars = '0123456789abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ';
          let pass = '';
          for(let i=0; i<16; i++) {
            pass += chars[Math.floor(Math.random() * chars.length)];
          }
          return pass;
        },
        addUser: function() {
          usersRef.push(this.newUser);
          this.newUser.name = '';
          this.newUser.email = '';
        },
        removeUser: function(user) {
          usersRef.child(user['.key']).remove()
        },
        sendVerify: function(email, password) {
          let self = this;
          firebase.auth().createUserWithEmailAndPassword(email, password)
            .then(function() {
              console.log('added');
              let user = firebase.auth().currentUser;
              user.updateProfile({
                displayName: self.user.name
              }).then(function() {
                self.verify();
              })
            })
            .catch(function(error) {
              console.log(error);
            });
          
        },
        createUser: function() {
          firebase.auth().createUserWithEmailAndPassword(this.user.email, this.user.password);
        },
        verify: function() {
          var user = firebase.auth().currentUser;
          user.sendEmailVerification().then(function() {
            console.log('hoge');
          }, function(error){
            console.log(error);
          });
        }
      }
    })


  </script>
</body>
</html>
