<!DOCTYPE html>
<html>
<head>
  <title>My first Vue app</title>
  <script src="https://unpkg.com/vue"></script>
  <script src="https://www.gstatic.com/firebasejs/4.3.0/firebase.js"></script>
  <script src="https://unpkg.com/vuefire/dist/vuefire.js"></script>
</head>
<body>
  <div id="app">
    <form id="form" v-on:submit.prevent="register">
      <input type="text" v-model="newUser.name" placeholder="username">
      <input type="email" v-model="newUser.email" placeholder="email">
      <input type="submit" value="add user">
    </form>
    <form id="form" v-on:submit.prevent="createUser">
      <input type="text" v-model="user.email" placeholder="email">
      <input type="password" v-model="user.password" placeholder="pass">
      <input type="submit" value="add user">
    </form>
    <button v-on:click="verify">verify</button>
    <div>
      {{ email }} {{ uid }}
    </div>
  </div>

  <script>
    // setup Firebase
    var config = {
      apiKey: "AIzaSyCJ5-wGuwje-5LqhpMNgs3SUbyil3V3WMI",
      authDomain: "icf-09-registration.firebaseapp.com",
      databaseURL: "https://icf-09-registration.firebaseio.com",
      projectId: "icf-09-registration",
      storageBucket: "icf-09-registration.appspot.com",
      messagingSenderId: "385260940809"
    };
    firebase.initializeApp(config);

    var usersRef = firebase.database().ref('test');

    var app = new Vue({
      el: '#app',
      data: {
        newUser: {
          name: '',
          email: '',
        },
        user: {
          email: '',
          password: '',
        },
        email: 'none',
        uid: 'none',
        User: {},
        isLoggedIn: null,
      },

      firebase: {
        users: usersRef
      },

      created() {
        this.User = firebase.auth().currentUser;
        if(this.User) {
          this.email = this.User.email;
          this.uid = this.User.uid;
        }

        firebase.auth().onAuthStateChanged(function(user) {
          this.isLoggedIn = (user !== null);
          if(user) {
            this.email = user.email;
            this.uid = user.uid;
          }
        });
      },

      methods: {
        addUser: function() {
          usersRef.push(this.newUser);
          this.newUser.name = '';
          this.newUser.email = '';
        },
        removeUser: function(user) {
          usersRef.child(user['.key']).remove()
        },
        sendVerify: function(email, password) {
          firebase.auth().createUserWithEmailAndPassword(email, password).catch(function(error) {
            console.log(error);
          });
        },
        createUser: function() {
          firebase.auth().createUserWithEmailAndPassword(this.user.email, this.user.password);
        },
        verify: function() {
          var user = firebase.auth().currentUser;
          user.sendEmailVerification().then(function() {
            console.log('hoge');
          }, function(error){
            console.log(error);
          });
        }
      }
    })


  </script>
</body>
</html>
